Repository JuliaRobotics/Caesar.jl, pull requests merged in 2018-10, with the labels that each got.

#154 Update Graphs.jl URL to JuliaAttic
  README.md
Labels: readme

#156 Feature/wheelodo
  examples/wheeled/parametricWheelOdo.jl
  examples/wheeled/victoriapark_stepbystep.jl
  src/Caesar.jl
  src/SlamConvenienceFunctions.jl
Labels: example

#155 Example/sandshark
  examples/marine/auv/Sandshark/Funky21Problem.jl
  examples/marine/auv/Sandshark/FunkyContinuous.jl
  examples/marine/auv/Sandshark/Plotting.jl
  examples/marine/auv/Sandshark/Sandshark_2.jl
  examples/marine/auv/Sandshark/Sandshark_2bcontinued.jl
  examples/marine/auv/Sandshark/Sandshark_2cwhathappens.jl
  examples/marine/auv/Sandshark/devTesting.jl
Labels: example

#157 Maintenance/last06
  .travis.yml
  REQUIRE
  src/Caesar.jl
Labels: versioning

#163 Remove 0.7 warnings
  data/datasets/hauv/hauv-test.log
  docs/src/tut_slamedonut.md
  examples/apriltagserver/tag2slam.jl
  examples/marine/rov/asfm/ASfMExample.jl
  examples/marine/rov/highend/lcmserver/server.jl
  examples/marine/rov/highend/synchronySDKIntegration.jl
  examples/multilanguage/zmq2caesar.jl
  examples/tobedeleted/highend/synchrony.jl
  examples/wheeled/racecar/visualizationUtils.jl
  src/BearingRangeTrackingServer.jl
  src/Caesar.jl
  src/DataUtils.jl
  src/SlamConvenienceFunctions.jl
  src/cloudgraphs/CloudGraphIntegration.jl
  src/cloudgraphs/ConvertGeneralSlaminDB.jl
  src/cloudgraphs/FoveationUtils.jl
  src/cloudgraphs/IterationStatistics.jl
  src/cloudgraphs/MultisessionUtils.jl
  src/cloudgraphs/SolverStatus.jl
  src/cloudgraphs/slamindb.jl
  test/runtests.jl
Labels: enhancement, versioning

#164 Graff
  examples/database/dbg_packedtype_conversions.jl
  examples/marine/rov/highend/synchrony.jl
  examples/marine/rov/highend/synchronySDKIntegration.jl
  examples/multilanguage/zmq2caesar.jl
  examples/parameters/robots01.jl
  src/cloudgraphs/CloudGraphIntegration.jl
Labels: API change, multilang

#170 update require
  REQUIRE
Labels: versioning

#172 Feature/multilangzmq 07
  .travis.yml
  LICENSE
  REQUIRE
  data/datasets/hauv/hauv-test.log
  data/datasets/victoriapark/Vic120MM.jl
  docs/src/definingfactors.md
  docs/src/tut_slamedonut.md
  examples/apriltagserver/tag2slam.jl
  examples/database/dbg_packedtype_conversions.jl
  examples/marine/rov/asfm/ASfMExample.jl
  examples/marine/rov/highend/lcmserver/server.jl
  examples/marine/rov/highend/synchrony.jl
  examples/marine/rov/highend/synchronySDKIntegration.jl
  examples/parameters/robots01.jl
  examples/tobedeleted/highend/synchrony.jl
  examples/wheeled/racecar/visualizationUtils.jl
  src/BearingRangeTrackingServer.jl
  src/Caesar.jl
  src/DataUtils.jl
  src/SlamConvenienceFunctions.jl
  src/SlamInterfaceTCP.jl
  src/SlamServer.jl
  src/cloudgraphs/CloudGraphIntegration.jl
  src/cloudgraphs/ConvertGeneralSlaminDB.jl
  src/cloudgraphs/FoveationUtils.jl
  src/cloudgraphs/IterationStatistics.jl
  src/cloudgraphs/MultisessionUtils.jl
  src/cloudgraphs/SolverStatus.jl
  src/cloudgraphs/slamindb.jl
  src/dev/TreeDescriptor.jl
  src/zmq/models/distributions.jl
  src/zmq/models/session.jl
  src/zmq/services/ZmqServer.jl
  src/zmq/services/config.jl
  src/zmq/services/plotting.jl
  src/zmq/services/session.jl
  test/REQUIRE
  test/multilangzmq/serverTest.jl
  test/multilangzmq/zmqInternal.jl
  test/runtests.jl
  test/zmqServer.jl
Labels: zmq

#162 Feature/multilangzmq
  REQUIRE
  examples/multilanguage/zmq2caesar.jl
  scripts/zmqServer.config
  scripts/zmqServer.jl
  scripts/zmqServer.sh
  src/Caesar.jl
  src/cloudgraphs/SolverStatus.jl
  src/endpoints/Models.jl
  src/zmq/ZmqCaesar.jl
  src/zmq/models/ZmqServer.jl
  src/zmq/models/config.jl
  src/zmq/models/distributions.jl
  src/zmq/models/factors.jl
  src/zmq/models/plotting.jl
  src/zmq/models/session.jl
  src/zmq/services/ZmqServer.jl
  src/zmq/services/config.jl
  src/zmq/services/factors/distributionSerialization.jl
  src/zmq/services/factors/factorSerialization.jl
  src/zmq/services/importexport.jl
  src/zmq/services/plotting.jl
  src/zmq/services/session.jl
  test/REQUIRE
  test/multilangzmq/callbackCompatibilityTest.jl
  test/multilangzmq/factorTests.jl
  test/multilangzmq/serverTest.jl
  test/multilangzmq/zmqInternal.jl
  test/runtests.jl
  test/zmqServer.jl
Labels: API change, enhancement, improvement, multilang, zmq

#173 don't allow failures on JL 1.0
  .travis.yml
Labels: testing
