Repository JuliaRobotics/Caesar.jl, pull requests merged in 2020-12, with the labels that each got.

#645 wip new ez AprilTag 2.5D factor
  Project.toml
  examples/wheeled/racecar/ros/CarFeedMonoFlux.jl
  examples/wheeled/racecar/ros/CarSlamUtilsCommon.jl
  src/images/Pose2AprilTag4Corners.jl
  src/images/apriltags.jl
  src/zmq/ZmqCaesar.jl
  test/runtests.jl
  test/testPose2AprilTag4Corner.jl
Labels: AprilTags, example, factors

#646 rm toml files in example to try fix compat helper
  examples/learning/hybrid/Manifest.toml
  examples/learning/hybrid/Project.toml
Labels: automation, example, maintenance, potential bug, toml

#648 Update bayestreePrinciples.md
  docs/src/principles/bayestreePrinciples.md
Labels: bayes tree, debug tools, documentation

#647 generateCostAprilTagsPreimageCalib
  Project.toml
  examples/dev/apriltagserver/EasySLAMExAprilTags.jl
  src/Caesar.jl
  src/images/AprilTagDrawingTools.jl
  src/images/Pose2AprilTag4Corners.jl
  src/images/images.jl
  test/testPose2AprilTag4Corner.jl
Labels: AprilTags, calibration, camera, enhancement, factors, images

#651 add docs ex for Pose2AprilTag4Corners
  src/images/Pose2AprilTag4Corners.jl
  src/zmq/models/factors.jl
Labels: AprilTags, documentation, example, factors

#653 Delete REQUIRE
  test/REQUIRE
Labels: maintenance, removing files

#655 Rename Project.toml to _Project.toml
  examples/wheeled/racecar/_Project.toml
Labels: automation, maintenance

#657 compat IIF v0.19
  Project.toml
Labels: compat

#658 bump v0.7.1
  Project.toml
Labels: versioning

#659 typo fix in fnc docs
  src/images/Pose2AprilTag4Corners.jl
Labels: bug fix, documentation

#661 add doc string extensions to zmq
  src/zmq/ZmqCaesar.jl
Labels: bug fix, dependencies, maintenance

#663 backport fix typedef
  Project.toml
  src/zmq/ZmqCaesar.jl
Labels: Travis, backport, bug fix, testing

#664 attempting fix for dev masters
  .travis.yml
Labels: Travis

#666 travis fix docs pkg order
  .travis.yml
Labels: Travis, documentation

#668 v0.7.1-rc1
  .travis.yml
  Project.toml
  README.md
  docs/Project.toml
  docs/src/principles/bayestreePrinciples.md
  examples/marine/auv/Sandshark/_Manifest.toml
  examples/marine/auv/Sandshark/_Project.toml
  examples/wheeled/racecar/_Manifest.toml
  examples/wheeled/racecar/_Project.toml
  src/images/Pose2AprilTag4Corners.jl
  src/zmq/ZmqCaesar.jl
  src/zmq/models/factors.jl
  test/REQUIRE
  test/zmqServer.jl
Labels: Travis, automation, bug fix, documentation, release
