Repository JuliaRobotics/Caesar.jl, pull requests merged in 2020-02, with the labels that each got.

#503 Update faq.md
  docs/src/faq.md
Labels: documentation

#502 further updates to auv results and plotting
  examples/dev/BruteForceTreeOrderings.jl
  examples/marine/auv/Sandshark/CheckRawOdo.jl
  examples/marine/auv/Sandshark/CommonUtils.jl
  examples/marine/auv/Sandshark/ExampleCommand.sh
  examples/marine/auv/Sandshark/ExploreValidateSolution.jl
  examples/marine/auv/Sandshark/GenerateResults.jl
  examples/marine/auv/Sandshark/LCM_SLAM_client.jl
  examples/marine/auv/Sandshark/MakiePlotsFG.jl
  examples/marine/auv/Sandshark/MsgHandlers.jl
  examples/marine/auv/Sandshark/Plotting.jl
  examples/marine/auv/Sandshark/SandsharkUtils.jl
Labels: example

#507 DOCS drop softtype labels
  docs/src/examples/interm_dynpose.md
Labels: deprecated, documentation, upstream

#510 update install to .julia and 1.3.1
  docs/src/installation_environment.md
Labels: documentation, install

#513 ROS example (via RobotOS.jl)
  examples/ros/RExFeed.jl
  examples/ros/RExLidarProcessor.jl
Labels: example

#515 Update installation_environment.md
  docs/src/installation_environment.md
Labels: bug fix, documentation

#516 restructured example, extended ping registration script
  examples/ros/README.md
  examples/ros/RExLidarProcessor.jl
  examples/ros/RExRadarProcessor.jl
  examples/ros/ScanMatcher.jl
Labels: enhancement, example

#518 Update .travis.yml fix docs deploy
  .travis.yml
Labels: Travis, bug fix, documentation

#519 new all up latest canary test
  .travis.yml
Labels: Travis, testing

#521 auv draft submit
  examples/marine/auv/Sandshark/CharlesDockScale.xcf
  examples/marine/auv/Sandshark/CharlesFull.png
  examples/marine/auv/Sandshark/CharlesFull.xcf
  examples/marine/auv/Sandshark/CharlesFullScale.xcf
  examples/marine/auv/Sandshark/CommonUtils.jl
  examples/marine/auv/Sandshark/EvalLBLErrors.jl
  examples/marine/auv/Sandshark/ExampleCommand.sh
  examples/marine/auv/Sandshark/GenerateResults.jl
  examples/marine/auv/Sandshark/LCM_SLAM_client.jl
  examples/marine/auv/Sandshark/MakiePlotImg.jl
  examples/marine/auv/Sandshark/MakiePlotImgNoDock.jl
  examples/marine/auv/Sandshark/MakiePlotsFG.jl
  examples/marine/auv/Sandshark/Manifest.toml
  examples/marine/auv/Sandshark/MsgHandlers.jl
  examples/marine/auv/Sandshark/PrepMakieBackground.jl
  examples/marine/auv/Sandshark/Project.toml
  examples/marine/auv/Sandshark/SandsharkUtils.jl
  examples/marine/auv/Sandshark/ShowDRT.jl
Labels: example
