Repository JuliaRobotics/Caesar.jl, pull requests merged in 2022-09, with the labels that each got.

#911 Starting H in alignICP_Simple as kwarg
  src/3rdParty/_PCL/services/ICP_Simple.jl
Labels: enhancement, pcl

#907 test solver using data blobs (via stashing)
  .github/workflows/ci.yml
  Project.toml
  docs/src/examples/custom_factor_features.md
  src/3rdParty/_PCL/services/PlottingUtilsPCL.jl
  src/3rdParty/_PCL/services/PointCloud.jl
  src/Caesar.jl
  src/beamforming/SASBearing2D.jl
  src/images/ROSConversions.jl
  src/images/ScatterAlignPose2.jl
  test/ICRA2022_tests/nongaussian_mixture.jl
  test/runtests.jl
  test/testScatterAlignParched.jl
  test/testStashing_SAP.jl
Labels: testing, CI, stashing

#913 mv toImage better placement
  .github/workflows/ci.yml
  src/images/ROSConversions.jl
  src/images/images.jl
Labels: enhancement, CI, ROS

#912 v0.13.5-rc1
  .github/workflows/ci.yml
  Project.toml
  docs/src/examples/custom_factor_features.md
  docs/src/refs/literature.md
  src/3rdParty/_PCL/_PCL.jl
  src/3rdParty/_PCL/entities/PCLTypes.jl
  src/3rdParty/_PCL/services/ConsolidateRigidTransform.jl
  src/3rdParty/_PCL/services/ICP_Simple.jl
  src/3rdParty/_PCL/services/PlottingUtilsPCL.jl
  src/3rdParty/_PCL/services/PointCloud.jl
  src/Caesar.jl
  src/beamforming/SASBearing2D.jl
  src/images/ROSConversions.jl
  src/images/ScatterAlignPose2.jl
  src/images/images.jl
  test/ICRA2022_tests/nongaussian_mixture.jl
  test/pcl/testPointCloud2.jl
  test/runtests.jl
  test/testScatterAlignParched.jl
  test/testStashing_SAP.jl
Labels: release

#914 consol transform code and clean-up
  examples/visualization/CaesarConfig.jl
  src/3rdParty/_PCL/services/ConsolidateRigidTransform.jl
  src/Caesar.jl
  src/SlamConvenienceFunctions.jl
  src/SlamInterfaceTCP.jl
  src/SlamServer.jl
  src/attic/cloudgraphs/CGExports.jl
  src/attic/cloudgraphs/CloudGraphIntegration.jl
  src/attic/cloudgraphs/ConvertGeneralSlaminDB.jl
  src/attic/cloudgraphs/FoveationUtils.jl
  src/attic/cloudgraphs/IterationStatistics.jl
  src/attic/cloudgraphs/MultisessionUtils.jl
  src/attic/cloudgraphs/SolverStatus.jl
  src/attic/cloudgraphs/slamindb.jl
  src/attic/multisession/Multisession.jl
  src/services/BearingRangeTrackingServer.jl
  src/services/DataUtils.jl
  src/services/UserFunctions.jl
  src/transforms/entities/TransformTypes.jl
  src/transforms/services/HomographyTransforms.jl
  src/transforms/services/_FastTransform3D.jl
Labels: standardization, removing files, API, maintenance, refactor, manifolds, breaking changes
