Repository JuliaRobotics/Caesar.jl, pull requests merged in 2023-08, with the labels that each got.

#972 refactor feature code
  examples/tracking/visual/PyCV_TrackFeaturesFwdBck.jl
  ext/CaesarAprilTagsExt.jl
  ext/CaesarImageFeaturesExt.jl
  ext/CaesarImagesExt.jl
  ext/Images/FeatureMountain.jl
  ext/Images/ImageMask.jl
  ext/Images/ROSImageConversion.jl
  ext/WeakdepsPrototypes.jl
Labels: enhancement, images, refactor

#973 distr feature compute
  ext/CaesarImagesExt.jl
  ext/Images/FeatureMountain.jl
  ext/WeakdepsPrototypes.jl
Labels: enhancement, images

#974 Fix TrackFeaturesFwdBck
  examples/tracking/visual/PyCV_TrackFeaturesFwdBck.jl
  ext/CaesarImageFeaturesExt.jl
Labels: bug fix, images

#976 spread orb feats
  examples/tracking/visual/PyCV_TrackFeaturesFwdBck.jl
  examples/tracking/visual/PySSCFeatures.py
Labels: example
