Repository JuliaRobotics/Caesar.jl, pull requests merged in 2023-02, with the labels that each got.

#942 allow loopObject on OAS factor for closures
  src/3rdParty/_PCL/_PCL.jl
  src/3rdParty/_PCL/services/PointCloud.jl
  src/3rdParty/_PCL/services/PointCloudUtils.jl
  src/objects/ObjectAffordanceSubcloud.jl
Labels: enhancement, feature request, factors, object

#945 Color LAS load and save
  src/3rdParty/_PCL/services/LasIOSupport.jl
Labels: enhancement, pcl

#946 fixes for export las
  src/3rdParty/_PCL/_PCL.jl
  src/3rdParty/_PCL/services/LasIOSupport.jl
  src/3rdParty/_PCL/services/PointCloudUtils.jl
Labels: enhancement, bug fix

#947 Fix loadLAS from buffer
  src/3rdParty/_PCL/services/LasIOSupport.jl
Labels: bug fix, point cloud

#948 fixes and improvements
  README.md
  examples/dev/RoomPillarsModes.jl
  src/3rdParty/_PCL/services/ROSConversions.jl
  src/images/images.jl
Labels: enhancement, example, ROS, images

#949 Update index.md
  docs/src/index.md
  test/ICRA2022_tests/insufficient_data.jl
Labels: documentation
